{
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [1, 100, 2],
    "semi": 2,
    "strict": 0,
    "quotes": [1, "single", "avoid-escape"]
  }
}
