{
  "parser": "babel-eslint",
  "env": {
    browser: true,
    node: true,
    es6: true,
    jest: true,
    jasmine: true
  },
  "extends": [
    "dabapps/react",
    "dabapps/es6",
    "dabapps/browser"
  ],
  "plugins": [
    "import",
  ],
  "rules": {
    import/no-unresolved: 2,
    "react/jsx-indent-props": 0,
  }
}
