# Build files
dist/
build/

# Dependency directories
node_modules/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Logs
logs
*.log
npm-debug.log*

# Environment configuration
.env

# Optional npm cache directory
.npm

# Temporary folders
tmp/
temp/

# Mac Files
.DS_Store