# Build files
dist/
build/

# TypeScript incremental compilation cache
*.tsbuildinfo

# Environment variables
.env

# Dependency directories
node_modules/

# Generated GraphQL Files
schema.graphql

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Mac Files
.DS_Store