@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

@import "node_modules/bootstrap/less/bootstrap";
@import "node_modules/font-awesome/less/font-awesome.less";

/* @group Colours */

@ThemePrimary: #3893c6;

@White: #FFF;

/* @end Colours */


/* @group Bootstrap Variables */

@font-family-sans-serif: 'Open Sans', sans-serif;
@link-hover-decoration: none;

@border-radius-base: 0;
@border-radius-small: 0;
@border-radius-large: 0;

/* @end Bootstrap Variables */

/* @group Typography */

.FontOpenSansLight() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.FontOpenSansRegular() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.FontOpenSansSemibold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.FontOpenSansBold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* @end Typography */


/* @group Misc */

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
}

.btn {
  border: 0;
}

.forkme {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);

  padding: 5px;
  position: fixed;
  top: 50px;
  right: -90px;
  background-color: @White;
  color: @ThemePrimary;
  width: 300px;
  text-align: center;
  border-top: 2px solid @ThemePrimary;
  border-bottom: 2px solid @ThemePrimary;
  z-index: 9999;
}

/* @end Misc */


/* @group Header */

.header {
  background-color: @ThemePrimary;
  #gradient > .vertical(@ThemePrimary, darken(@ThemePrimary, 15%));
  min-height: 100%;

  .jumbotron {
    background-color: transparent;
    color: @White;
    text-align: center;

    .logo {
      width: 100%;
      max-width: 350px;
      margin: 100px auto 20px;
    }

    h2 {
      .FontOpenSansLight();
      max-width: 350px;
      margin: 20px auto 10px;
    }

    .btn {
      margin: 10px 0;
    }

    .screenshot {
      margin: 80px auto 0;
    }
  }
}

/* @end Header */
