<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if site.description %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/static/css/base.css" | prepend: site.baseurl }}">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="forkme hidden-xs"><a href="https://github.com/ekonstantinidis/gitify" target="_blank"><span class="octicon octicon-repo-forked"></span> Fork me on GitHub</a></div>

    {{ content }}

    <div class="container-fluid footer">
      <div class="container">
        <div class="col-md-8">
          Copyright <a href="http://www.iamemmanouil.com/" target="_blank">Emmanouil Konstantinidis</a> &copy; 2015.
        </div>
        <div class="col-md-4 text-right">
          <a class="scroll-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="static/js/app.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67298362-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
