/* @group Imports */

@import "../../node_modules/icheck/skins/all.css";

/* @end Imports */


/* @group Colors */

$brand-purple: #555B6E;
$brand-purple-dark: darken($brand-purple, 10%);

$white: #FFF;
$gray: #55595C;
$gray-dark: #373A3C;

$gray-light: darken($white, 10%);
$gray-darker: darken($gray, 5%);

$modal-overlay-bg: rgba(0, 0, 0, .25);

/* @end Colors */


/* @group Fonts Overrides */

$fa-font-path: "../fonts";
@import "node_modules/font-awesome/scss/font-awesome.scss";

$octicons-font-path: "../fonts/";
@import "node_modules/octicons/build/font/_octicons.scss";

/* @end Fonts Overrides */


/* @group Bootstrap Overrides */

$sidebar-width: 100px;

$brand-primary: #555B6E;
$brand-success: #69B578;
$brand-info: #8BA9C6;
$brand-warning: #FCAA67;
$brand-danger: #B7524F;

$font-family-base:
-apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
"Helvetica Neue", sans-serif;

$alert-padding: 8px;
$alert-border-radius: 0;
$alert-danger-bg: $brand-danger;
$alert-danger-text: $white;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* @end Bootstrap Overrides */


/* @group Mixins */

// Border Radius (Same Corners)
@mixin border-radius($radius: 5px) {
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// opacity
@mixin opacity($opacity: .5) {
  opacity: $opacity;
}

@mixin check-octicon {
  &.octicon-check {
    transition: all .4s;
    color: $gray-light;

    &:hover {
      cursor: pointer;
      color: $brand-success;
    }
  }
}

/* @end Mixins */


/* @group Misc */

html,
body {
  -webkit-user-select: none;
}

body {
  cursor: default;
}

.btn {
  &:focus {
    outline: none;
  }
}

.right,
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

input {
  outline: none;
}

.alert {
  margin-bottom: 0;
  border: 0;
  text-align: center;
}

.react-toggle--checked {
  .react-toggle-track {
    background-color: $brand-success;
  }
}

/* @end Misc */


/* @group React Modal */

$modal-animation-duration: 250ms;
$modal-scale-min: .35;

// sass-lint:disable class-name-format force-element-nesting

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $modal-overlay-bg;
}

.ReactModal__Overlay--after-open {
  transition: opacity $modal-animation-duration ease-out;
  opacity: 1;
}

.ReactModal__Content {
  transform: scale(.5) rotateX(-30deg);
  -webkit-transform: scale(.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  transform: scale(1) rotateX(0deg);
  transition: all $modal-animation-duration ease-in;
  -webkit-transform: scale(1) rotateX(0deg);
}

.ReactModal__Content--before-close {
  transform: scale($modal-scale-min) rotateX(30deg);
  transition: all $modal-animation-duration ease-in;
  -webkit-transform: scale($modal-scale-min) rotateX(30deg);
}

// sass-lint:enable class-name-format force-element-nesting

/* @end React Modal */


/* @group Animations */

.notification-leave {
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.175, .665, .32, 1), linear;

  &.notification-leave-active {
    transform: translate(350px, 0);
    transform: translate3d(350px, 0, 0);
    opacity: 0;
  }
}

.repository-leave {
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.175, .665, .32, 1), linear;

  &.repository-leave-active {
    transform: scale(.01);
    opacity: 0;
  }
}

/* @end Animations */

/* @group Loading */

#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: $sidebar-width;
    z-index: 1031;
    background: $gray-light;

    width: 100%;
    height: 2px;
  }

  /* Fancy blur effect */
  .peg {
    display: block;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0, -4px);
    opacity: 1;
    box-shadow: 0 0 10px $brand-inverse, 0 0 5px $brand-inverse;
    width: 100px;
    height: 100%;
  }
}

/* @end Loading */


/* @group Sidebar */

.wrapper {
  padding-left: $sidebar-width;
}

.sidebar-wrapper {
  position: fixed;
  left: $sidebar-width;
  margin-left: -$sidebar-width;
  background-color: $brand-purple;
  padding: 2rem .75rem;
  width: $sidebar-width;
  height: 100%;
  overflow-y: auto;

  -webkit-app-region: drag;

  .logo {
    display: block;
    margin: .75rem auto;
    max-width: $sidebar-width / 2;
    -webkit-app-region: no-drag;
    -webkit-user-drag: none;
  }

  .badge-count {
    text-align: center;
    text-transform: uppercase;
  }

  .nav {
    justify-content: center;

    .nav-item {
      -webkit-app-region: no-drag;

      .nav-link {
        padding: .5em;
      }
    }
  }

  .badge-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin: 0 -.75rem;
    border-bottom: 1px solid darken($brand-purple-dark, 10%);
    padding: .5rem;
    text-transform: uppercase;
    line-height: 1;
    color: darken($brand-purple-dark, 10%);
    font-size: 75%;
    font-weight: bold;

    &.last {
      border-bottom: 0;
    }

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .octicon {
      font-size: 12px;
    }
  }

  .footer {
    position: absolute;
    right: .75rem;
    bottom: 1rem;
    left: .75rem;

    .btn-add {
      font-size: 75%;
    }

    .btn-add,
    .btn-star {
      -webkit-app-region: no-drag;

      &:hover {
        background-color: $gray-darker;
      }
    }
  }
}


/* @end Sidebar */


/* @group Settings */

.settings-modal {
  margin: 3rem 2rem 2rem;

  .modal-content {
    border: 0;
    border-radius: 0;
  }

  .setting {
    margin: .25rem 0;
  }

  .setting-checkbox + span,
  .setting-radio + span {
    padding-left: 1rem;
  }

  .setting-radio + span {
    margin-right: 1rem;
  }

  .btn-logout {
    margin-top: 1rem;
  }
}

/* @end Settings */


/* @group Page / Login  */

.login {
  padding-top: 20px;
  width: 100%;
  height: 100%;

  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 115px;
  }

  .desc {
    margin: 1rem 0 2rem;
    text-align: center;
    line-height: 22px;
    color: $gray-dark;
    font-size: 20px;
  }

  .btn-close {
    margin-bottom: 1rem;
    padding: 0;
    color: $gray-dark;
    font-size: 2rem;
  }

  .btn-login {
    @include button-variant($white, $gray, $gray);
    padding: .55rem 1.25rem;

    .fa {
      margin-right: .5rem;
    }
  }
}

/* @end Page / Login  */


/* @group Notifications Route / Account  */

.account {
  margin-bottom: .5px;
  background-color: $brand-purple-dark;
  text-align: right;
  color: $white;
  font-size: .9rem;

  .octicon {
    font-size: 1.1rem;
  }
}

/* @end Notifications Route / Account  */


/* @group Component / Repository  */

.repository {
  background-color: $gray-lighter;

  .info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;

    .avatar {
      @include border-radius(50%);
      max-width: 25px;
    }
  }

  .octicon {
    @include check-octicon;
    font-size: 22px;
  }
}

/* @end Component / Repository  */


/* @group Component / Notifications  */

.notifications {
  margin: 0;
  padding: 0;

  &.errored,
  &.all-read {
    padding: 30px 20px;
    color: $gray;

    h2 {
      text-align: center;
      font-weight: 500;
    }

    h3,
    h4 {
      text-align: center;
      font-weight: 300;
    }

    .emoji {
      margin: 20px 0;
      text-align: center;
      font-size: 55px;
    }

    .typed-text {
      margin-top: 10px;
      margin-bottom: 0;
      padding: 10px 5px;
      text-align: center;
      line-height: 40px;

      .cursor {
        animation: blink .9s infinite;
        opacity: 1;
        padding-left: 5px;
        color: $gray;

        @keyframes blink {
          0% { opacity: 1; }
          50% { opacity: 0; }
          100% { opacity: 1; }
        }
        @-webkit-keyframes blink {
          0% { opacity: 1; }
          50% { opacity: 0; }
          100% { opacity: 1; }
        }
        @-moz-keyframes blink {
          0% { opacity: 1; }
          50% { opacity: 0; }
          100% { opacity: 1; }
        }
      }
    }
  }

  .octicon {
    @include check-octicon;
    font-size: 20px;
  }
}

/* @end Component / Notifications  */


/* @group Component / Notification  */

.notification {
  margin: 0;
  border-bottom: 1px solid $gray-lighter;

  .check-wrapper {
    text-align: right;
  }

  .subject {
    &:hover {
      cursor: pointer;
    }

    h6 {
      margin-bottom: .25em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .details {
      font-size: $font-size-xs;
    }
  }

  .octicon {
    @include check-octicon;
    font-size: 20px;
  }

  &:hover {
    background-color: $gray-lightest;
  }
}

/* @end Component / Notification  */


/* @group Network Status */

.network-status {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $gray-lighter;
  padding: 3rem 2rem;
  overflow: auto;

  .logo {
    margin: 0 auto 20px;
    max-width: 115px;
  }

  h4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .emoji {
    margin: 20px 0;
    text-align: center;
    font-size: 55px;
  }
}

/* @end Network Status */
