/* @group Colors */

$brand-purple: #555b6e;
$brand-purple-dark: darken($brand-purple, 10%);

$white: #fff;
$gray: #55595c;
$gray-dark: #373a3c;

$gray-light: darken($white, 10%);
$gray-darker: darken($gray, 5%);

/* @end Colors */

/* @group Bootstrap Overrides */

$sidebar-width: 100px;

$brand-primary: #555b6e;
$brand-success: #69b578;
$brand-info: #8ba9c6;
$brand-warning: #fcaa67;
$brand-danger: #b7524f;

$alert-padding: 8px;
$alert-border-radius: 0;
$alert-danger-bg: $brand-danger;
$alert-danger-text: $white;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* @end Bootstrap Overrides */

/* @group Misc */

.custom-checkbox-large {
  padding-left: 2rem;

  .custom-control-label {
    &:before {
      top: 0;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    &:after {
      top: 0rem;
      left: -2rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  small {
    line-height: 1rem;
  }
}

/* @end Misc */

/* @group Loading */

/* @end Loading */

/* @group Page / Login  */

.login {
  padding-top: 20px;
  width: 100%;
  height: 100%;

  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 115px;
  }

  .desc {
    margin: 1rem 0 2rem;
    text-align: center;
    line-height: 22px;
    color: $gray-dark;
    font-size: 20px;
  }

  .btn-close {
    margin-bottom: 1rem;
    padding: 0;
    color: $gray-dark;
    font-size: 2rem;
  }

  .btn-login {
    @include button-variant($white, $gray, $gray);
    padding: 0.55rem 1.25rem;

    .fa {
      margin-right: 0.5rem;
    }
  }
}

/* @end Page / Login  */

/* @group Component / Notifications  */

.notifications {
  margin: 0;
  padding: 0;

  &.errored,
  &.all-read {
    padding: 30px 20px;
    color: $gray;

    h2 {
      text-align: center;
      font-weight: 500;
    }

    h3,
    h4 {
      text-align: center;
      font-weight: 300;
    }

    .emoji {
      margin: 20px 0;
      text-align: center;
      font-size: 55px;
    }
  }
}

/* @end Component / Notifications  */
