/* @group Imports */

@import "../../node_modules/react-toggle/style.css";

/* @end Imports */


/* @group Colors */

$theme-black: #262626;
$theme-green: #5EBA7D;

$white: #FFF;
$gray: #55595C;
$gray-dark: #373A3C;

$light-gray: darken($white, 10%);
$gray-darker: darken($gray, 5%);

$error-color: #DB423C;

/* @end Colors */


/* @group Fonts Overrides */

$fa-font-path: "../fonts";
@import "node_modules/font-awesome/scss/font-awesome.scss";

$octicons-font-path: "../fonts/";
@import "node_modules/octicons/build/font/_octicons.scss";

/* @end Fonts Overrides */


/* @group Bootstrap Overrides */

$sidebar-width: 100px;

$brand-success: $theme-green;

$font-family-base:
-apple-system, BlinkMacSystemFont,
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
"Helvetica Neue", sans-serif;

$alert-padding: 8px;
$alert-border-radius: 0;
$alert-danger-bg: $error-color;
$alert-danger-text: $white;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

/* @end Bootstrap Overrides */


/* @group Mixins */

// Border Radius (Same Corners)
@mixin border-radius($radius: 5px) {
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// opacity
@mixin opacity($opacity: .5) {
  opacity: $opacity;
}

@mixin check-octicon {
  &.octicon-check {
    transition: all .4s;
    color: $gray-light;

    &:hover {
      cursor: pointer;
      color: $theme-green;
    }
  }
}

/* @end Mixins */


/* @group Misc */

html,
body {
  -webkit-user-select: none;
}

body {
  cursor: default;
}

.btn {
  .fa {
    margin-right: 10px;
  }

  &:focus {
    outline: none;
  }
}

.right,
.text-right {
  text-align: right;
}

input {
  outline: none;
}

.alert {
  margin-bottom: 0;
  border: 0;
  text-align: center;
}

.react-toggle--checked {
  .react-toggle-track {
    background-color: $theme-green;
  }
}

/* @end Misc */


/* @group Animations */

.notification-leave {
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.175, .665, .32, 1), linear;

  &.notification-leave-active {
    transform: translate(350px, 0);
    transform: translate3d(350px, 0, 0);
    opacity: 0;
  }
}

.repository-leave {
  transform: translate(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(.175, .665, .32, 1), linear;

  &.repository-leave-active {
    transform: scale(.01);
    opacity: 0;
  }
}

/* @end Animations */

/* @group Loading */

#nprogress {
  pointer-events: none;

  .bar {
    position: fixed;
    top: 0;
    left: $sidebar-width;
    z-index: 1031;
    background: $brand-inverse;

    width: 100%;
    height: 2px;
  }

  /* Fancy blur effect */
  .peg {
    display: block;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0, -4px);
    opacity: 1;
    box-shadow: 0 0 10px $brand-inverse, 0 0 5px $brand-inverse;
    width: 100px;
    height: 100%;
  }
}

/* @end Loading */


/* @group Sidebar */

.wrapper {
  transition: all .5s ease;
  padding-left: $sidebar-width;
}

.sidebar-wrapper {
  position: fixed;
  left: $sidebar-width;
  transition: all .5s ease;
  z-index: 1000;
  margin-left: -$sidebar-width;
  padding: 2rem .75rem;
  width: $sidebar-width;
  height: 100%;
  overflow-y: auto;

  .logo {
    margin: .75rem auto;
    max-width: ($sidebar-width / 2) + 20;
  }

  .tag-count {
    display: block;
    margin: 0 0 1em;
    text-align: center;
  }

  .nav {
    text-align: center;
  }

  .footer {
    position: absolute;
    bottom: 1rem;

    .btn-star {

      &:hover {
        background-color: $gray-darker;
      }
    }
  }
}

/* @end Sidebar */


/* @group Settings */

.settings {
  padding: 5px 20px;

  .nav {
    display: flex;
    justify-content: center;
    margin: -5px -20px 20px;

    background-color: $gray-light;
    padding: 5px 0;

    .nav-link {
      color: $gray-dark;
      font-size: 90%;

      &:active,
      &:hover {
        cursor: pointer;
        color: $white;
      }
    }
  }

  .setting {
    margin: 10px 5px;
    font-size: .95rem;
    font-weight: 300;

    .col-xs-4 {
      text-align: right;
    }
  }

  .footer {
    margin: 10px 5px;
    padding-top: 5px;
    font-size: 12px;

    .heart {
      color: $brand-danger;
    }
  }
}

/* @end Settings */


/* @group Page / Login  */

.login {
  // position: absolute;
  // // top: $navbar-height;
  // top: 50px;
  // left: 0;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  color: $white;

  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 115px;
  }

  .desc {
    margin-bottom: 25px;
    text-align: center;
    line-height: 22px;
    color: $gray-dark;
    font-size: 20px;
  }

  .btn {
    @include button-variant($white, $gray, $btn-primary-border);
    padding: .55rem 1.25rem;
  }
}

/* @end Page / Login  */


/* @group Component / Repository  */

.repository {
  margin: 0;
  background-color: $gray-lighter;
  padding: 5px 20px;

  .col-xs-2,
  .col-xs-10 {
    padding: 0;
  }

  .col-xs-1 {
    padding: 5px 0;
  }

  .name {
    padding: 5px;
    font-size: 16px;
    font-weight: 600;

    .avatar {
      @include border-radius(50%);
      margin-right: 1rem;
      width: 23px;
      height: 23px;
    }
  }

  .check-wrapper {
    text-align: right;

    .octicon {
      @include check-octicon;
      margin-right: 10px;
      font-size: 22px;
    }
  }
}

/* @end Component / Repository  */


/* @group Component / Notifications  */

.notifications {
  margin: 0;
  padding: 0;

  &.errored,
  &.all-read {
    padding: 30px 20px;
    color: $gray;

    h2 {
      text-align: center;
      font-weight: 500;
    }

    h3,
    h4 {
      text-align: center;
      font-weight: 300;
    }

    .emoji {
      margin: 20px 0;
      text-align: center;
      font-size: 55px;
    }

    .typed-text {
      margin-top: 10px;
      margin-bottom: 0;
      padding: 10px 5px;
      text-align: center;
      line-height: 40px;

      .cursor {
        animation: blink .9s infinite;
        opacity: 1;
        padding-left: 5px;
        color: $gray;

        @keyframes blink {
          0% { opacity: 1; }
          50% { opacity: 0; }
          100% { opacity: 1; }
        }
        @-webkit-keyframes blink {
          0% { opacity: 1; }
          50% { opacity: 0; }
          100% { opacity: 1; }
        }
        @-moz-keyframes blink {
          0% { opacity: 1; }
          50% { opacity: 0; }
          100% { opacity: 1; }
        }
      }
    }
  }
}

/* @end Component / Notifications  */


/* @group Component / Notification  */

.notification {
  margin: 0;
  border-bottom: 1px solid $gray-lighter;
  padding: 2px 20px;

  .col-xs-1,
  .col-xs-10 {
    padding: 5px 0;
  }

  .check-wrapper {
    text-align: right;
  }

  .subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  .octicon {
    @include check-octicon;
    margin-right: 10px;
    font-size: 20px;
  }

  &:hover {
    background-color: $gray-lightest;
  }
}

/* @end Component / Notification  */


/* @group Network Status */

.network-status {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $gray-lighter;
  padding: 3rem 2rem;
  overflow: auto;

  .logo {
    margin: 0 auto 20px;
    max-width: 115px;
  }

  h4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .emoji {
    margin: 20px 0;
    text-align: center;
    font-size: 55px;
  }
}

/* @end Network Status */
