html,
body {
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  cursor: default;
}

#gitify {
  height: 100%;
}

.notification-exit {
  transform: translate3d(0px, 0, 0);
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.32, 1), linear;
}

.notification-exit.notification-exit-active {
  transform: translate3d(350px, 0, 0);
  opacity: 0;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  position: fixed;
  top: 0;
  left: 50px;
  z-index: 1031;
  background: #203354;

  width: 100%;
  height: 2px;
}
