name: Lint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    name: biomejs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Run linter
        run: pnpm lint:check
