name: On Tag

on:
  push:
    tags: 'v*'
    branches:
      - fix/*

jobs:
  update-website:
    name: Website
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: gitify-app/website
          token: ${{ secrets.GH_TOKEN }}
      - uses: pnpm/action-setup@v3
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
      - id: version
        run: echo "version=$(echo ${{ github.ref }} | sed 's/refs\/tags\/v//')" >> $GITHUB_OUTPUT
      - run: pnpm version ${{ steps.version.outputs.version }}
      - uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: 'docs: update latest release to ${{ steps.version.outputs.version }}'
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          signoff: false
          branch: 'bump/${{ steps.version.outputs.version }}'
          delete-branch: true
          title: 'docs: update latest release to ${{ steps.version.outputs.version }}'
          body: |
            Update latest release to ${{ steps.version.outputs.version }}
          labels: |
            documentation
