name: Publish

on:
  workflow_call:
  workflow_dispatch: # For manually running release process to verify code-signing of artifacts

permissions:
  contents: write

jobs:
  release:
    name: Publish ${{ matrix.platform }} (electron-builder)
    strategy:
      matrix:
        include:
          - os: macos-latest
            platform: macOS
            package-cmd: pnpm package:macos --publish onTagOrDraft
            artifact-name: Gitify-release-mac
            use-apple-notarization: true
          - os: windows-latest
            platform: Windows
            package-cmd: pnpm package:win --publish onTagOrDraft
            artifact-name: Gitify-release-win
            use-apple-notarization: false
          - os: ubuntu-latest
            platform: Linux
            package-cmd: pnpm package:linux --publish onTagOrDraft
            artifact-name: Gitify-release-linux
            use-apple-notarization: false
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Build application
        run: pnpm build
        env:
          OAUTH_CLIENT_ID: ${{ secrets.OAUTH_CLIENT_ID }}

      - name: Package and publish for ${{ matrix.platform }}
        run: ${{ matrix.package-cmd }}
        env:
          # Signing certificates - important to use the correct cert per platform
          CSC_LINK: ${{ matrix.platform == 'macOS' && secrets.CSC_LINK || (matrix.platform == 'windows' && secrets.WIN_CSC_LINK || '') }}
          CSC_KEY_PASSWORD: ${{ matrix.platform == 'macOS' && secrets.CSC_KEY_PASSWORD || (matrix.platform == 'windows' && secrets.WIN_CSC_KEY_PASSWORD || '') }}
          # macOS specific
          APPLE_ID_USERNAME: ${{ secrets.APPLE_ID_USERNAME }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_ID_TEAM_ID: ${{ secrets.APPLE_ID_TEAM_ID }}
          NOTARIZE: ${{ matrix.use-apple-notarization }}
          # General
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.artifact-name }}
          path: |
            dist/*
            !dist/*/
          overwrite: true
