name: Release

on:
  push:
    branches:
      - release/v*.*.* # macOS code-signing only works on `push` events and not `pull_request` events

permissions:
  contents: read

jobs:
  lint:
    name: Lint App
    uses: ./.github/workflows/lint.yml

  tests:
    name: Tests
    uses: ./.github/workflows/test.yml
    needs: lint
    secrets: inherit

  publish:
    name: Publish
    uses: ./.github/workflows/publish.yml
    needs: tests
    secrets: inherit
    permissions:
      contents: write
