name: Release App

on:
  push:
    branches:
      - 'release/v**'

jobs:
  release-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build
        env:
          OAUTH_CLIENT_ID: ${{ secrets.oauth_client_id }}
          OAUTH_CLIENT_SECRET: ${{ secrets.oauth_client_secret }}
        run: pnpm build

      - name: Publish macOS (electron-builder)
        env:
          APPLEID_USERNAME: ${{ secrets.appleid_username }}
          APPLEID_PASSWORD: ${{ secrets.appleid_password }}
          CSC_LINK: ${{ secrets.mac_certs }}
          CSC_KEY_PASSWORD: ${{ secrets.mac_certs_password }}
          GH_TOKEN: ${{ secrets.gh_token }}
          NOTARIZE: true
        run: pnpm make:macos --publish onTagOrDraft

  release-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build
        env:
          OAUTH_CLIENT_ID: ${{ secrets.oauth_client_id }}
          OAUTH_CLIENT_SECRET: ${{ secrets.oauth_client_secret }}
        run: pnpm build

      - name: Publish Windows (electron-builder)
        env:
          GH_TOKEN: ${{ secrets.gh_token }}
        run: pnpm make:win --publish onTagOrDraft

  release-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build
        env:
          OAUTH_CLIENT_ID: ${{ secrets.oauth_client_id }}
          OAUTH_CLIENT_SECRET: ${{ secrets.oauth_client_secret }}
        run: pnpm build

      - name: Publish Linuxs (electron-builder)
        env:
          GH_TOKEN: ${{ secrets.gh_token }}
        run: pnpm make:linux --publish onTagOrDraft
