name: Release App

on:
  push:
    branches:
      - 'release/v**'

jobs:
  release-macos:
    name: Publish macOS (electron-builder)
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm build
        env:
          OAUTH_CLIENT_ID: ${{ secrets.oauth_client_id }}
          OAUTH_CLIENT_SECRET: ${{ secrets.oauth_client_secret }}
      - run: pnpm make:macos --publish onTagOrDraft
        env:
          APPLEID_USERNAME: ${{ secrets.appleid_username }}
          APPLEID_PASSWORD: ${{ secrets.appleid_password }}
          APPLEID_TEAM_ID: ${{ secrets.appleid_teamid }}
          CSC_LINK: ${{ secrets.mac_certs }}
          CSC_KEY_PASSWORD: ${{ secrets.mac_certs_password }}
          GH_TOKEN: ${{ secrets.gh_token }}
          NOTARIZE: true

  release-windows:
    name: Publish Windows (electron-builder)
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm build
        env:
          OAUTH_CLIENT_ID: ${{ secrets.oauth_client_id }}
          OAUTH_CLIENT_SECRET: ${{ secrets.oauth_client_secret }}
      - run: pnpm make:win --publish onTagOrDraft
        env:
          GH_TOKEN: ${{ secrets.gh_token }}

  release-linux:
    name: Publish Linux (electron-builder)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm build
        env:
          OAUTH_CLIENT_ID: ${{ secrets.oauth_client_id }}
          OAUTH_CLIENT_SECRET: ${{ secrets.oauth_client_secret }}
      - run: pnpm make:linux --publish onTagOrDraft
        env:
          GH_TOKEN: ${{ secrets.gh_token }}
