name: Test

on:
  workflow_call:

permissions:
  contents: read

jobs:
  run-unit-tests:
    name: Run Tests
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      
      - name: Setup Node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      
      - run: pnpm install
      - run: pnpm tsc --noEmit
      - run: pnpm test --coverage --runInBand --verbose
      
      - name: Archive code coverage results
        uses: actions/upload-artifact@v4.6.1
        with:
          name: code-coverage-report
          path: coverage/lcov.info
        
  sonarqube:
    name: SonarQube Cloud Analysis
    runs-on: ubuntu-latest
    needs: run-unit-tests
    # Only analyze PRs from the same repository. Limitation of SonarQube Cloud
    if: github.event.pull_request.head.repo.fork == false  
    
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      
      - name: Setup pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      
      - name: Setup Node
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      
      - run: pnpm install
     
      - name: Download a single artifact
        uses: actions/download-artifact@v4.1.8
        with:
          name: code-coverage-report
          path: coverage/
      
      - name: SonarQube Cloud Scan
        uses: SonarSource/sonarqube-scan-action@v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
